*.o
*.bundle
*.a
perc
*.dSYM
*.log
Makefile
sit
build
callgrind.out*
TODO
tmp.json
.libs
*.la
*.Po
.dirstamp
.deps
autom4te.cache
*.lo
*.pc
libtool
contrib/pcre/pcre_scanner_unittest
contrib/pcre/pcre_stringpiece_unittest
contrib/pcre/pcrecpp_unittest
contrib/pcre/pcregrep
contrib/pcre/pcretest
contrib/pcre/config.h
contrib/pcre/config.status
contrib/pcre/test*
config.status
contrib/pcre/pcre_chartables.c
